@media only screen and (max-width: 700px) {

    .navbar {
        display: none;
    }

    .burgerMenu {
        width: 40px;
        height: 40px;
        display: block;
        padding: 5px;
        color: var(--accent);
        background: var(--accent-soft);
        font-weight: bolder;
        border-radius: 50%;
    }

    .burgerMenu:hover{
        width: 41px;
        height: 41px;
        display: block;
        padding: 5px;
        color: var(--accent);
        background: var(--accent-soft);
        font-weight: bolder;
        border-radius: 50%;
        box-shadow: 0 4px 12px var(--card-hover-shadow);
        animation: rotate 0.8s ease-out;
    }

}